<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre - Register</title>

        <!-- Links para Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

        <!-- Link para iconos -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        <!-- Mi css -->
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="/css/stylesresponsive.css"/>

    </head>

    <body>
        <header>
            <section class="encabezado">

                <div class="imagen_encabezado">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></a>
                </div>

                <section class="barra_busqueda">
                    <form action="/" method="POST">
                        <div class="campo_busqueda">
                            <input type="text" placeholder="Buscá productos, marcas y más" required>
                        </div>

                        <div class="icono_busqueda">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </section>

                <section class="credito">
                    <div><i class="fas fa-hand-holding-usd"></i></div>
                    <p>Comprá en cuotas y sin tarjeta de crédito<p>
                </section>
            </section>

            <nav>
                <ul class="nav_opciones">
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul class="nav_opciones">
                    <li>
                        <a href="register">Creá tu cuenta</a>
                        <i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="login">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>

            <div class="burger_menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div class="imagen_banner">
                <img src="images/img-home-banner.jpg" alt="banner">
            </div>

        </header>

        <main>
            <div class="contenido_formulario">
                <form action="/" method="POST" class="formulario_registro">
                    <div class="centrar">
                        <div class="campo_de_texto">
                            <input type="text" name="nombres_apellidos" placeholder="Nombres y apellidos" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="campo_de_texto">
                            <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="campo_de_fecha">
                            <label for="fecha_nacimiento"><h2>Fecha de nacimiento</h2></label>
                            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="campo_de_texto">
                            <input type="text" name="Direccion" placeholder="Domicilio" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="perfil_usuario">
                            <label for="tipo_perfil"><h2>Perfil de usuario</h2></label>
                            <select name="tipo_perfil" id="tipo_perfil"  required>
                                <option value="comprador">Comprador</option>
                                <option value="vendedor">Vendedor</option>
                            </select>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="categoria">
                            <label><h2>Categorías</h2></label>
                            <div class="entrada_checkbox">
                                <div>
                                    <input type="checkbox" name="categoria" value="electro" id="electro">
                                    <label for="electro">Electro</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="categoria" value="moda" id="moda">
                                    <label for="moda">Moda</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="categoria" value="hogar" id="hogar">
                                    <label for="hogar">Hogar</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="categoria" value="jugueteria" id="jugueteria">
                                    <label for="jugueteria">Jugueteria</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="categoria" value="vida_sana" id="vida_sana">
                                    <label for="vida_sana">Vida sana</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="foto_perfil">
                            <center><label for="foto_perfil_usuario"><h2>Foto de perfil</h2></label></center>
                            <input type="file" name="foto_perfil_usuario" id="foto_perfil_usuario" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="campo_de_texto">
                            <input type="password" name="password" placeholder="Contraseña" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="campo_de_texto">
                            <input type="password" name="confirmar_password"placeholder="Confirmar contraseña" required>
                        </div>
                    </div>

                    <div class="centrar">
                        <div class="boton">
                            <div class="boton_registro">
                                <button type="submit">Registrarse</button>
                            </div>

                            <div class="boton_borrar">
                                <button type="reset">Borrar todo</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </main>

        <footer>
            <div class="pie_de_pagina">
                <section class="pie_de_pagina_detalle">
                    <div class= "pie_de_pagina_detalle_icono">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>

                <section class="pie_de_pagina_detalle">
                    <div class= "pie_de_pagina_detalle_icono">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h2>Envío gratis desde $2.500</h2>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>

                <section class="pie_de_pagina_detalle">
                    <div class= "pie_de_pagina_detalle_icono">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </section>
            </div>

            <div class="centrar">
                <p class="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
            </div>

        </footer>

    </body>
</html>
